.submit-button__text {
    margin-top: 14px;
    margin-bottom: 18px;
    margin-left: 125px;
    margin-right: 124px;
    text-align: center;
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
}
@media screen and (max-width: 500px) {
    .submit-button__text {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 14px;
        margin-left: 82px;
        margin-right: 82px;
    }
}