.poppup-container__button-close {
    position: absolute;
    top: -36px;
    right: -34px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 35px;
    color: white;
}
@media screen and (max-width: 500px) {
    .poppup-container__button-close {
        width: 26px;
        height: 26px;
        font-size: 21px;
        right: 0;
    }
}