.poppup-container__button-close {
    position: absolute;
    top: -31px;
    right: -31px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 35px;
    color: white;
    transition: 0.6s;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.poppup-container__button-close:hover {
opacity: 0.6;
}
@media screen and (max-width: 500px) {
    .poppup-container__button-close {
        width: 26px;
        height: 26px;
        font-size: 21px;
        right: 0;
        top: -40px;
    }
}