.poppup-container__line {
    margin-left: 36px;
    margin-right: 36px;
    opacity: 0.2;
    border: 1px solid #000000;
    margin-top: 13px;
}
@media screen and (max-width: 500px) {
    .poppup-container__line {
        margin-left: 22px;
        margin-right: 22px;
    }
}