.poppup-container__name {
    color: #000000;
    font-family: 'Inter',Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    font-style: normal;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 54px;
    border: none;

}
@media screen and (max-width: 500px) {
    .poppup-container__name {
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 75px;
    }
}