.add-button__image {
    width: 22px;
    height: 22px;
    object-fit: cover;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 840px) {
    .add-button__image {
        width: 16px;
        height: 16px;
        margin-top: 17px;
        margin-bottom: 17px;
        

    }
}