.profile__avatar {
    min-height: 127.5px;
    max-width: 168.75px;
    padding-top: 3.75px;
    padding-bottom: 3.75px;
    margin-left: 22.5px;
    margin-right: 26.25px;
    object-fit: cover;
    border-radius: 50%;
}
@media screen and (max-width: 840px) {
    .profile__avatar {
        margin-left: auto;
        margin-right: auto;
        

    }
}